body{
    height: 100%;
	width: 100%;
	background-image: url(background.jpg);
	background-position: center;
	background-size:cover;
	position: absolute;
    

}
.anime {
   position: absolute;
    left: 5%;
    top: 15%;
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    visibility: hidden;
    animation-delay: 2s;
  
}

.anime img{
    padding: 10px;
    border-radius: 40px;
}
.text{
    padding: 10px;
}
.text a{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.anime-image {
    animation-name: image-anime;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  
  @keyframes image-anime {
    0%   { transform: scale(1)  ; }
    50%  { transform: scale(1.2) ; }
    100% { transform: scale(1) ; }

  }

  .anime {
    animation-name: fade-out, fade-in;
    animation-duration: 6s;
    animation-fill-mode:forwards;
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-in {
    from { opacity: 0 ;visibility: visible; }
    to { opacity: 1;visibility: visible; }
}

.promt {
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 20px;
    width: 40%;
    height: 100%;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 40px;
    
}
.text1 p{
    font-size: 30px;
}


.first {
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;}


.promt h3{
    font-size: 40px;
    
}
.promt img{
    padding: 10px;
}
 button{
    width: 150px;
    height: 50px;
    background-color: rgb(136, 99, 170);
    border-radius: 30px;
    margin-bottom: 10px;
}
button:hover{
    transform: scale(1.3);
}






.string {
    position: relative;
    top: 80%;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text2 p{
    font-size: 30px;
}


.second{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}

.string h3{
    font-size: 40px;
    
}
.string img{
    padding: 10px;
}

#input{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result{
    color: red;
    font-size: 35px;
}





.birthday{
    position: relative;
    top: 10%;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text3 p{
    font-size: 25px;
}


.third{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.birthday {
    font-size: 25px;
}

.birthday h3{
    font-size: 40px;
    
}
.birthday img{
    padding: 10px;
}

#input3{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result3{
    color: red;
    font-size: 35px;
}



.reverse{
    position: absolute;
   top: 1390px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text4 p{
    font-size: 30px;
}


.fourth{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.reverse {
    font-size: 25px;
}

.reverse h3{
    font-size: 40px;
    
}
.reverse img{
    padding: 10px;
}

#input4{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result4{
    color: red;
    font-size: 35px;
}



.piglatin{
    position: absolute;
   top: 1700px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text5 p{
    font-size: 30px;
}


.fifth{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.piglatin {
    font-size: 25px;
}

.piglatin h3{
    font-size: 40px;
    
}
.piglatin img{
    padding: 10px;
}

#input5{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result5{
    color: red;
    font-size: 35px;
}


.ipaddress{
    position: absolute;
   top: 2000px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text6 p{
    font-size: 30px;
}


.sixth{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.ipaddress {
    font-size: 25px;
}

.ipaddress h3{
    font-size: 40px;
    
}
.ipaddress img{
    padding: 10px;
}

#input6{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result6{
    color: red;
    font-size: 30px;
}

