body{
    height: 100%;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-position: center;
	background-size:cover;
	position: absolute;
}
.anime {
   position: absolute;
    left: 5%;
    top: 15%;
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    visibility: hidden;
    animation-delay: 2s;
}
.anime img{
    padding: 10px;
    border-radius: 40px;
}
.text{
    padding: 10px;
}
.text a{
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}
.anime-image {
    animation-name: image-anime;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes image-anime {
    0%   { transform: scale(1)  ; }
    50%  { transform: scale(1.2) ; }
    100% { transform: scale(1) ; }
  }
  .anime {
    animation-name: fade-out, fade-in;
    animation-duration: 6s;
    animation-fill-mode:forwards;
}
@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fade-in {
    from { opacity: 0 ;visibility: visible; }
    to { opacity: 1;visibility: visible; }
}
.promt {
    position: absolute;
    top: 40%;
    left: 5%;
    border-radius: 20px;
    width: 40%;
    height: 100%;
    margin-top: 50px;
    margin-left: 400px;
    font-size: 40px;
}
.text1 p{
    font-size: 30px;
}
.first {
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;}
.promt h3{
    font-size: 40px;
    
}
.promt img{
    padding: 10px;
}
 button{
    width: 150px;
    height: 50px;
    background-color: rgb(136, 99, 170);
    border-radius: 30px;
    margin-bottom: 10px;
}
button:hover{
    transform: scale(1.3);
}
#check-button6,#check-button7{
    width: 130px;
}
.string {
    position: relative;
    top: 80%;
    left: 5%;
    border-radius: 20px;
    width: 50%;
    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
}
.text2 p{
    font-size: 27px;
}
.second{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.string h3{
    font-size: 40px;  
}
.string img{
    padding: 10px;
}

#input{
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result{
    color: red;
    font-size: 30px;
}
.birthday{
    position: relative;
    top: 10%;
    left: 5%;
    border-radius: 20px;
    width: 50%;
    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%; 
}
.text3 p{
    font-size: 25px;
}
.third{
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.birthday {
    font-size: 25px;
}

.birthday h3{
    font-size: 40px;
    
}
.birthday img{
    padding: 10px;
}
#input3{
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result3{
    color: red;
    font-size: 30px;
}
.reverse{
    position: absolute;
   top: 1390px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
}
.text4 p{
    font-size: 30px;
}
.fourth{
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.reverse {
    font-size: 25px;
}

.reverse h3{
    font-size: 40px;
    
}
.reverse img{
    padding: 10px;
}

#input4{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result4{
    color: red;
    font-size: 33px;
}

.piglatin{
    position: absolute;
   top: 1700px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
}
.text5 p{
    font-size: 25px;
}

.fifth{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.piglatin {
    font-size: 25px;
}

.piglatin h3{
    font-size: 40px;
    
}
.piglatin img{
    padding: 10px;
}

#input5{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result5{
    color: red;
    font-size: 30px;
}


.ipaddress{
    position: absolute;
   top: 2000px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 70px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text6 p{
    font-size: 30px;
}


.sixth{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.ipaddress {
    font-size: 25px;
}

.ipaddress h3{
    font-size: 40px;
    
}
.ipaddress img{
    padding: 10px;
}

#input6{
   
    height: 40px;
    width: 200px;
    font-size: 30px;
}
#result6{
    color: red;
    font-size: 30px;
}


.location{
    position: absolute;
    top: 2300px;
    left: 5%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}
.text7 p{
    font-size: 30px;
}



.seventh{
   
    background-color: rgb(132, 77, 184);
    display: flex;
    border-radius: 20px;
    font-family:"Poppins" ;
    margin-top: 40px;
}
.location {
    font-size: 25px;
}

.location h3{
    font-size: 40px;
    
}
.location img{
    padding: 10px;
}


#loc{
    font-size: 25px;
}


.top-page{
    position: absolute;
    top: 3000px;
    left: 20%;
    border-radius: 20px;
    width: 50%;

    margin-top: 80px;
    margin-left: 400px;
    font-size: 40px;
    height: 100%;
    
}

.block{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:180vh;   
    margin-left: 110px;
}

.form{
    border: 2px solid rgb(71, 43, 71);
    border-radius: 30px;
    padding: 30px;
    transition: all 0.1s ease-in-out;
    box-shadow: -5px -5px 15px purple,
    5px 5px 15px rgb(46, 39, 26);
    width: 800px;

}
.input{
    position: relative;
    width: 600px;
}
.input input{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border-color: blueviolet;
}
.block .form .input span{
    position: absolute;
    left: 0;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 48px;
    padding-bottom: 10px;
    pointer-events: none;   
}
.btn button{
    width: 100px;
    height: 40px;
    margin-right: 190px;
}

.block .form .input input:valid~span,
.block .form .input input:focus~span{
    color: purple;
    transform: translateX(300px) translateY(-20px);
    font-size: 12px;
    border: 1px solid black;
    padding: 3px;
}
